<mdb-navbar SideClass="navbar navbar-1 navbar-dark light-blue" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
      <img src="assets/icons/torramt-32.png">
      Torramt
    </a>
  </mdb-navbar-brand>

  <links>
    <ul
      class="navbar-nav mr-auto"
    >
      <li
        class="nav-item"
        routerLink=""
        routerLinkActive="active"
      >
        <a mdbWavesEffect
          class="nav-link waves-light" >
          Recherche
        </a>
      </li>
      <li
        class="nav-item"
        routerLink="seedbox"
        routerLinkActive="active"
      >
        <a mdbWavesEffect
          class="nav-link waves-light"
        >
          Seedbox
        </a>
      </li>
    </ul>
  </links>

</mdb-navbar>
