<header>
  <nav>
    <mat-toolbar color="primary">
      <a mat-button [routerLink]="'/search'">
        <span class="title">
          <img src="assets/icons/torramt-32.png" alt="torramt icône" />
          <h1 class="ml-1">Torramt</h1>
        </span>
      </a>

      <ng-container *ngIf="storeSrv.user$ | async">
        <a mat-button [routerLink]="'/search'" routerLinkActive="active"
          >Recherche</a
        >
        <a mat-button [routerLink]="'/seedbox'" routerLinkActive="active"
          >Seedbox</a
        >

        <span class="spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['administration', 'settings']">
            <mat-icon>settings</mat-icon>
            <span>Paramètres</span>
          </button>
          <button mat-menu-item (click)="onClickSignoutButton()">
            <mat-icon>logout</mat-icon>
            <span>Déconnexion</span>
          </button>
          <button mat-menu-item (click)="onClickConfigurationButton()">
            <mat-icon>logout</mat-icon>
            <span>sdsd</span>
          </button>
        </mat-menu>
      </ng-container>
    </mat-toolbar>
  </nav>
</header>
