<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex.xs="100" fxFlex.lt-lg="75" fxFlex="50">
    <h1>SEEDBOX</h1>
    <div fxLayoutAlign="end center">
      <mat-slide-toggle (toggleChange)="onToggleChanged()"
        >Mise à jour automatique</mat-slide-toggle
      >
    </div>
    <div class="my-5" fxLayout="row" fxLayoutAlign="space-between end">
      <span fxFlexAlign="center"> Torrents : {{ torrents.length }} </span>
      <span fxFlexAlign="center">
        Espace de stockage : {{ ftpSize | fileSize: 0 }}
      </span>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
      <ng-container *ngFor="let torrent of torrents">
        <mat-card class="mb-5">
          <mat-card-title>{{ torrent.name }}</mat-card-title>

          <mat-card-subtitle fxLayout="row">
            <mat-icon color="accent" class="mr-1">arrow_downward</mat-icon>
            {{ torrent.totalSize | fileSize }}
            <mat-icon color="accent" class="mx-1">arrow_upward</mat-icon>
            {{ torrent.uploadedEver | fileSize }}
            <mat-icon color="accent" class="mx-1">percent</mat-icon>
            {{ torrent.uploadRatio | number: '1.0-2' }}
            <mat-icon color="accent" class="mx-1">calendar_month</mat-icon>
            {{
              torrent.doneDate
                ? (torrent.doneDate * 1000 | date: 'dd/MM/yyyy')
                : '-'
            }}
          </mat-card-subtitle>

          <mat-card-content
            *ngIf="torrent.status === TRANSMISSION_STATUS.DOWNLOAD"
            class="mt-3"
            fxLayout="column"
            fxLayoutAlign="center"
          >
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>
                {{ torrent.downloadedEver | fileSize }} sur
                {{ torrent.totalSize | fileSize }}
              </div>
              <div>{{ torrent.rateDownload | fileSize }}/s</div>
            </div>

            <mat-progress-bar
              color="accent"
              mode="determinate"
              [value]="torrent.percentDone * 100"
            ></mat-progress-bar>

            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>{{ torrent.percentDone | percent }}</div>
              <div>
                {{
                  torrent.downloadedEver | downloadTime: torrent.rateDownload
                }}
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions align="end">
            <button
              *ngIf="torrent.percentDone === 1"
              mat-stroked-button
              color="primary"
              title="Transférer les fichiers"
              (click)="
                openDialogTransfertToNas(
                  torrent.name,
                  torrent.files.length > 1 ? 'd' : '-'
                )
              "
            >
              <mat-icon>forward</mat-icon>
              Transférer
            </button>
            <button
              mat-stroked-button
              color="primary"
              [title]="
                torrent.doneDate === 0
                  ? torrent.status === TRANSMISSION_STATUS.STOPPED
                    ? 'Reprendre le téléchargement'
                    : 'Suspendre le téléchargement'
                  : torrent.status !== TRANSMISSION_STATUS.STOPPED
                  ? 'Suspendre'
                  : 'Diffuser'
              "
              (click)="togglePlayPause(torrent.status, torrent.hashString)"
            >
              <mat-icon *ngIf="torrent.status !== TRANSMISSION_STATUS.STOPPED"
                >pause</mat-icon
              >
              <mat-icon *ngIf="torrent.status === TRANSMISSION_STATUS.STOPPED">
                play_arrow
              </mat-icon>
              {{
                torrent.doneDate === 0
                  ? torrent.status === TRANSMISSION_STATUS.STOPPED
                    ? 'Reprendre le téléchargement'
                    : 'Suspendre le téléchargement'
                  : torrent.status !== TRANSMISSION_STATUS.STOPPED
                  ? 'Suspendre'
                  : 'Diffuser'
              }}
            </button>
            <button
              mat-stroked-button
              color="accent"
              title="Supprimer ce torrent"
              (click)="openDialogDelete(torrent.hashString, torrent.name)"
            >
              <mat-icon>delete</mat-icon>
              Supprimer
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
