.container {
  ul li {

    div {
      h6 {
        word-wrap: break-word;
      }
    }
    .icon-actions {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .custom-progress {
      height: 5px;
    }
  }
  button {
    border-radius: 20px;
  }

}
