<div class="container mt-5">
  <h1 class="text-center">Torrents de la Seedbox</h1>

  <div class="row mt-5">
    <div class="col-6">
      Torrents : {{ totalTorrents }}
    </div>
    <div class="col-6 text-right">
      Taille sur ftp : {{ totalSize | fileSize }}
    </div>
  </div>

  <ul class="list-group list-group-flush">
    <li
      *ngFor="let torrent of torrents"
      class="list-group-item"
    >
      <div class="row">
        <div class="col-10 small d-flex flex-column">
          <h6>{{ torrent.name }}</h6>
          <div class="row">
            <div class="col">
              <span class="mr-1">
                <mdb-badge
                  default="true"
                  pill="true"
                >
                  <ng-template
                    [ngIf]="torrent.percentDone === 1 && torrent.status !== 4"
                    [ngIfElse]="downloadedInfos"
                  >
                    <mdb-icon
                      fas
                      icon="arrow-down"
                    ></mdb-icon>
                    {{ torrent.totalSize | fileSize }} ({{  torrent.rateDownload |fileSize }}/s)
                  </ng-template>
                  <ng-template #downloadedInfos>
                    {{ torrent.downloadedEver | fileSize }} sur {{ torrent.totalSize | fileSize }}
                  </ng-template>
                </mdb-badge>
              </span>

              <span class="mr-1">
                <mdb-badge
                  class=""
                  danger="true"
                  pill="true"
                >
                  <mdb-icon
                    fas icon="arrow-up"
                  ></mdb-icon>
                  {{ torrent.uploadedEver | fileSize }} ({{ torrent.rateUpload |fileSize }}/s)
                </mdb-badge>
              </span>
            </div>
            <div class="col text-right ">
              <mdb-badge
                class=""
                info="true"
                pill="true"
              >
                Ratio: {{ torrent.uploadRatio | number: '1.0-2' }}
              </mdb-badge>
            </div>

          </div>

          <div
            *ngIf="torrent.percentDone < 1
            && (torrent.status === 4 || torrent.status === 0)"
            class="mt-auto pt-1"
          >
            <div class="progress custom-progress">
              <div
                class="progress-bar"
                [ngClass]="{
                  'bg-success': torrent.status === 6,
                  'bg-info': torrent.status === 4,
                  'bg-light': torrent.status === 0
                }"
                role="progressbar"
                [style.width.%]="torrent.percentDone | percent"
              ></div>
            </div>

            <div class="row">
              <div class="col-3">
                {{ torrent.percentDone | percent }} %
              </div>
              <div class="col-9 text-right">
                {{ torrent.downloadedEver | downloadTime: torrent.rateDownload  }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 icon-actions">
          <button
            mdbBtn mdbWavesEffect
            type="button"
            color="primary"
            size="sm"
            (click)="togglePlayPause(torrent.status, torrent.hashString)"
          >
            <mdb-icon
              fas
              [icon]="torrent.status ? 'pause' : 'play'"
            >
            </mdb-icon>
          </button>

          <button
            mdbBtn mdbWavesEffect
            type="button"
            color="primary"
            size="sm"
            outline="true"
            (click)="openModalConfirmDel(torrent.hashString, torrent.name)"
          >
            <mdb-icon
              fas
              icon="trash-alt"
            >
            </mdb-icon>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
