<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex.xs="100" fxFlex.lt-lg="75" fxFlex="50">
    <h1>SEEDBOX</h1>

    <div class="my-5" fxLayout="row" fxLayoutAlign="space-between">
      <span fxFlexAlign="center"> Torrents : {{ torrents.length }} </span>
      <span fxFlexAlign="center">
        Espace de stockage : {{ ftpSize | fileSize: 0 }}
      </span>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
      <ng-container *ngFor="let torrent of torrents">
        <mat-card class="mb-5">
          <mat-card-title>{{ torrent.name }}</mat-card-title>
          <mat-card-subtitle fxLayout="row">
            <mat-icon color="accent" class="mr-1">arrow_downward</mat-icon>
            {{ torrent.totalSize | fileSize }}
            <mat-icon color="accent" class="mx-1">arrow_upward</mat-icon>
            {{ torrent.uploadedEver | fileSize }}
            <mat-icon color="accent" class="mx-1">percent</mat-icon>
            {{ torrent.uploadRatio | number: '1.0-2' }}
            <mat-icon color="accent" class="mx-1">calendar_month</mat-icon>
            {{ torrent.doneDate * 1000 | date: 'dd/MM/yyyy' }}
          </mat-card-subtitle>
          <mat-card-actions align="end">
            <button
              mat-stroked-button
              color="primary"
              title="Transférer les fichiers"
              (click)="
                openDialogTransfertToNas(
                  torrent.name,
                  torrent.files.length > 1 ? 'd' : '-'
                )
              "
            >
              <mat-icon>forward</mat-icon>
              Transférer
            </button>
            <button
              mat-stroked-button
              color="primary"
              [title]="
                (torrent.status ? 'Suspendre la diffusion de' : 'Diffuser') +
                ' ce torrent'
              "
              (click)="togglePlayPause(torrent.status, torrent.hashString)"
            >
              <mat-icon *ngIf="torrent.status">pause</mat-icon>
              <mat-icon *ngIf="!torrent.status">play_arrow</mat-icon>
              {{ torrent.status ? 'Suspendre' : 'Diffuser' }}
            </button>
            <button
              mat-stroked-button
              color="accent"
              title="Supprimer ce torrent"
              (click)="openDialogDelete(torrent.hashString, torrent.name)"
            >
              <mat-icon>delete</mat-icon>
              Supprimer
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
