.container {
  ul {
    li {
      p {
        word-wrap: break-word;
      }
    }
  }
}

form {
  i {
    cursor: pointer;
  }
}

.custom-notification {
  position: fixed;
  width: 350px;
  top: 40px;
  right: 40px;
}
