<div class="container mt-5">

  <h1 class="text-center">Recherche de torrent</h1>
  <form
      [formGroup]="searchForm"
  >
    <div class="row md-form">
      <div class="col-12">
        <input
          mdbInput
          id="search"
          class="form-control"
          type="text"
          formControlName="searchValue"
          placeholder="Recherche"
          (keydown.enter)="onSubmitForm()"
        >
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-right">
        <mdb-icon
          fas
          class="blue-text"
          [icon]="searchAdvanced ? 'chevron-down' : 'chevron-up'"
        ></mdb-icon>
        <a
          class="small"
          (click)="showSearchAdvanced()"
        >
          Plus d'options...
        </a>
      </div>
    </div>

    <div
      mdbCollapse
      class="row"
    >
      <div class="col-12">
        <div class="small">
          <app-torrent-active-providers [parentForm]="searchForm"></app-torrent-active-providers>
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
      <button
        mdbBtn mdbWavesEffect
        type="button"
        color="primary"
        (click)="onSubmitForm()"
      >
        Rechercher
      </button>
    </div>
  </form>
</div>

<app-loader
  *ngIf="isLoading | async; else listTorrentSearch"
  class="d-flex justify-content-center mt-5"
></app-loader>

<ng-template #listTorrentSearch>
  <div
    *ngIf="torrents"
    class="container mt-5"
  >
    <div class="row">
      <div class="col-sm col-12 d-flex">
        <p class="my-auto mx-auto mx-sm-0">
          Résultats : {{ torrents.length }}
        </p>
      </div>
      <div class="col-sm col-12">
        <select
          class="browser-default custom-select"
          (change)="onChangeSort($event)"
        >
          <option value="bestmatch">
            Tier par : Pertinence
          </option>
          <option value="asc">
            Tier par : A-Z
          </option>
          <option value="desc">
            Tier par : Z-A
          </option>
          <option value="seeds">
            Tier par : Popularité
          </option>
          <option value="dateDesc">
            Tier par : Le plus récent
          </option>
          <option value="dateAsc">
            Tier par : Le plus ancien
          </option>
        </select>
      </div>
    </div>





    <ul class="list-group list-group-flush mt-2">
      <li
        *ngFor="let torrent of torrents; let i = index"
        class="list-group-item"
      >
        <div class="row">
          <div class="col-sm-9 col-12 ">
            <h6>{{ torrent.title }}</h6>
            <mdb-badge
              class="mr-1"
              primary="true"
              pill="true"
            >
              <mdb-icon
                fas
                icon="calendar-alt"
              ></mdb-icon>
              {{ torrent.time | date: 'short' }}
            </mdb-badge>
            <mdb-badge
              class="mr-1"
              default="true"
              pill="true"
            >
              <mdb-icon
                fas
                icon="file"
              ></mdb-icon>
              {{ torrent.size }}
            </mdb-badge>
            <mdb-badge
              success="true"
              pill="true"
            >
              <mdb-icon
                fas
                icon="seedling"
              ></mdb-icon>
              {{ torrent.seeds }}
            </mdb-badge>
          </div>

          <div class="col-sm-3 col-12 flex-row flex-sm-column mt-sm-0 mt-2 icon-actions">
            <button
              mdbBtn mdbWavesEffect
              type="button"
              color="primary"
              outline="true"
              size="sm"
              class="order-sm-2"
              (click)="openModalTorrentDetails(i)"
            >
              <mdb-icon
                fas
                icon="info"
              ></mdb-icon>
            </button>

            <button mdbBtn mdbWavesEffect
              type="button"
              color="primary"
              size="sm"
              class="order-sm-1"
              (click)="addTorrentToDl(i)"
            >
              <mdb-icon
                fas
                icon="plus"
              ></mdb-icon>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-template>
