.container {
  button {
    border-radius: 20px;
  }
  ul {
    li {
      h6 {
        word-wrap: break-word;
      }
      .icon-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

form {
  .md-form {
    margin-bottom: 0;
  }
  i {
    cursor: pointer;
  }
}

.custom-notification {
  position: fixed;
  width: 350px;
  top: 40px;
  right: 40px;
}
