<div class="container mt-5">
  <h1 class="text-center">Ftp</h1>

<!--  <p>Résultats : {{ files.length }}</p>-->
  <mdb-breadcrumb>
    <mdb-breadcrumb-item>
      <a (click)="move('')">
        FTP
      </a>
    </mdb-breadcrumb-item>
    <mdb-breadcrumb-item
      *ngFor="let breadcrumb of breadcrumbs; last as isLast"
      [ngClass]="{ 'active' : isLast }"
    >
      <a (click)="move()">
        {{ breadcrumb }}
      </a>
    </mdb-breadcrumb-item>
  </mdb-breadcrumb>


  <ul class="list-group list-group-flush">
    <li
      *ngFor="let file of files; let i = index"
      class="list-group-item"
    >
      <div class="row">
        <div class="col-2">
          <a (click)="move(file.name)">
              <mdb-icon fas size="2x"
                        class="cyan-text pr-3"
                        [icon]="file.type === 'd' ? 'folder' : 'file'"
              >
              </mdb-icon>
          </a>
        </div>


        <div class="col-8">
          <p>
            <a (click)="move(file.name)">
              {{ file.name }}
            </a>
          </p>
          <mdb-badge
            class="mr-1"
            primary="true"
            pill="true"
          >
            {{ file.modifyTime | date: 'short' }}
          </mdb-badge>
          <mdb-badge
            class="mr-1"
            info="true"
            pill="true"
          >
            {{ file.size | fileSize }}
          </mdb-badge>
        </div>
        <div class="col-2 text-right">
          <mdb-badge
            default="true"
            pill="true"
          >
            <a (click)="transfertToNas(file.name, file.type)">
              <mdb-icon fas size="2x" class="m-1" icon="download"></mdb-icon>
            </a>
          </mdb-badge>
        </div>
      </div>

    </li>
  </ul>
</div>
