.container {
  ul {
    li {
      p {
        word-wrap: break-word;
      }

      button {
        border-radius: 20px;
      }
      .align-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

    }
  }

  mdb-breadcrumb {
    background: transparent;
  }


}
