<div class="modal-content">

  <div class="modal-header">
    <button
      type="button"
      class="close pull-right"
      (click)="hideModal()"
    >
      ×
    </button>
    <h4
      class="modal-title w-100"
      id="myModalLabel"
    >
      {{ title }}
    </h4>
  </div>

  <div class="modal-body">
    {{ body }}
  </div>

  <div class="modal-footer">
    <button
      mdbBtn mdbWavesEffect
      type="button"
      color="{{ btnYes.color }}"
      class="waves-light"
      [outline]="btnYes.outline"
      (click)="sendResponse(true)"
    >
      <app-loader
          *ngIf="isLoading; else iconYes"
          htmlType="inline"
          color="text-white"
      ></app-loader>
      <ng-template #iconYes>
        <mdb-icon
          *ngIf="btnYes.icon"
          fas
          icon="{{ btnYes.icon }}"
        ></mdb-icon>
      </ng-template>
      {{ btnYes.label }}
    </button>

    <button
      mdbBtn mdbWavesEffect
      type="button"
      color="{{ btnNo.color }}"
      [outline]="btnNo.outline"
      class="relative waves-light"
      (click)="sendResponse(false)"
    >
      <mdb-icon
          *ngIf="btnNo.icon"
          fas
          icon="{{ btnNo.icon }}"
      ></mdb-icon>
      {{ btnNo.label }}
    </button>

  </div>
</div>
